UNIDAD 10 - Dataframes con pandas

1. Cargue el dataset

In [112]:
import pandas as pandas
df = pandas.read_json("https://www.datos.gov.co/resource/32sa-8pi3.json")
df.head() #Ver la data

     valor unidad            vigenciadesde            vigenciahasta
0  4761.64    COP  2022-12-22T00:00:00.000  2022-12-22T00:00:00.000
1  4781.28    COP  2022-12-20T00:00:00.000  2022-12-20T00:00:00.000
2  4802.48    COP  2022-12-17T00:00:00.000  2022-12-19T00:00:00.000
3  4836.24    COP  2022-12-13T00:00:00.000  2022-12-13T00:00:00.000
4  4815.99    COP  2022-12-10T00:00:00.000  2022-12-12T00:00:00.000

In [113]:
df.info() #

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   valor          1000 non-null   float64
 1   unidad         1000 non-null   object
 2   vigenciadesde  1000 non-null   object
 3   vigenciahasta  1000 non-null   object
dtypes: float64(1), object(3)
memory usage: 31.4+ KB

Como se puede analizar solo la columna valor es de tipo numérico, es por ello que los calculos solo se realizarán sobre ella

2. Calculos

Para realizar este ejercicio se utilizan los módulos incluidos en pandas como "mean", "max" y "std" entre otros. Notar que selecciona la columna valor, de no ser así arroja un error ya que el resto de la información no es numérica

3. Presentar el resumen de los datos numéricos

In [114]:
print("Resumen de calculos")
print("La media de la columna valor es: "+str(df["valor"].mean().__round__(3))) 
print("La mediana de la columna valor es: "+str(df["valor"].median().__round__(3)))
print("La desviación estandar de la columna valor es: "+str(df["valor"].std().__round__(3)))
print("El máximo de la media para la columna valor es: "+str(df["valor"].max().__round__(3)))
print("El mínimo de la columna valor es: "+str(df["valor"].min().__round__(3)))
print("El rango de la columna valor es: "+str((df["valor"].max()-df["valor"].min()).__round__(3)))

Resumen de calculos
La media de la columna valor es: 3042.377
La mediana de la columna valor es: 2972.525
La desviación estandar de la columna valor es: 730.689
El máximo de la media para la columna valor es: 5061.21
El mínimo de la columna valor es: 1846.12
El rango de la columna valor es: 3215.09

4 Información general del dataset

In [115]:
df.describe() #Descripción de la columna "valor" con el modulo "describe" de pandas

             valor
count  1000.000000
mean   3042.376510
std     730.689006
min    1846.120000
25%    2500.497500
50%    2972.525000
75%    3646.340000
max    5061.210000

5 Representaciones graficas de la información